<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:label="solara"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:enableOnBackInvokedCallback="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <!-- Impeller 制御の経緯:
             - commit 93368ee: A101FC fd leak (Vulkan sync_file leak) 対策で Impeller=false に。
             - 2026-05-06 再検証: opt-out 廃止予告 ([Action Required]: Impeller opt-out deprecated)
               に伴い Impeller=ON で A101FC 30 分連続描画テストを実施。
               結果: fd_total 181→181 (リーク 0) / sync_file 47→46 (リーク 0) /
                     FATAL 0 / Adreno error 0 / Java heap 安定。
               最新 Flutter で sync_file leak は完全に修正済みと確認、Impeller デフォルトを採択。
             - BLAST Faking 警告は Flutter Engine 既知 issue (アプリ側で消せない、致命ではない)。
             - 将来 fd leak が再発した場合のみ `<meta-data android:name="io.flutter.embedding.android.EnableImpeller" android:value="false" />` を再追加する。-->
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
